fastapi==0.115.12
uvicorn==0.34.0
passlib==1.7.4
python-jose==3.4.0
pydantic==2.11.0
pydantic-core==2.33.0
pyasn1==0.4.8
ecdsa==0.19.1
rsa==4.9
six==1.17.0
sqlalchemy>=1.4,<1.5
databases==0.5.5
python-multipart==0.0.20
aiofiles==0.8.0
